/* GENERAL SETTINGS */
.pad_space {
  padding: 10px;
}

p, h1, h2, h3, h4, .start_bs, .icon_div, .nav_menu > li > a {
  color: #F8F9FA;
}

#portfolio h3,
#portfolio p,
#contactme h3,
#contactme p,
#portfolio .icon_div,
#contactme .icon_div {
  color: #2C3E50;
}

h1, h2, h3 {
  margin-top: 10px;
}

.icon_div {
  margin-bottom: 10px;
}

/* /GENERAL SETTINGS */

/* header settings */
nav {
  background-color: #2C3E50;
  height: 80px;
  line-height: 80px;
}

#headersection {
  background-color: #1ABC9C;
}

.start_bs {
  text-decoration: none;
  font-weight: bold;
}

.btn_mod {
  background-color: transparent;
  border-color: #F8F9FA;
}
.btn_mod > .fa-bars {
  font-size: 1.2em;
}

.nav_menu > li {
  display: inline-block;
  padding-left: 15px;
}
.nav_menu > li > a {
  text-decoration: none;
  font-weight: bold;
}

#headersection img {
  height: 200px;
}
/* /header settings */

/* portfolio settings */
#portfolio {
  background-color: #FFFFFF;
}

.port_image > img{
  width: 100%;
  margin: 10px 0;
  text-align: center;
  border-radius: 5px;
}
/* /portfolio settings */

/* about settings */
#about {
  background-color: #1ABC9C;
}

.btn_green {
  background-color: #1ABC9C;
  color: white;
  border-color: white;
  margin: 10px 0;
}
/* /about settings */

/* contact me */
#contactme {
  background-color: #FFFFFF;
}

form input, form textarea{
  color: black;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid lightgrey;
}
/* /contact me */

/* footer */
footer > #upper {
  background-color: #2C3E50;
}

footer div {
  padding: 15px 0;
}

.btn_social{
  background-color: transparent;
  border-radius: 100px;
  border-color: white;
  margin-right: 5px;
}

#link_bs {
  text-decoration: none;
  color: #1ABC9C;
}

footer > #lower {
  background-color: #1A252F;
}
/* /footer */
